<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>CyberSafe 2023</title>
    <meta
      name="description"
      content="NeoCortex is an AI that is built to detect and segment health issues from MRI
    images."
    />
    <link
      rel="icon"
      type="image/ico"
      sizes="32x32"
      href="static/img/icon.ico"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />

        <!--====== Bootstrap CSS ======-->
        <link rel="stylesheet" href="https://cdn.ayroui.com/1.0/css/bootstrap.min.css" />

        <!--====== Lineicons CSS ======-->
        <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    
        <!--====== Style css ======-->
        <link rel="stylesheet" href="https://cdn.ayroui.com/1.0/css/starter.css" />

    <!--Inter UI font-->
    <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet" />

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <!--vendors styles-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
    <script>
      $(document).ready(function() {
    $('html, body').animate({
        scrollTop: $("#home").offset().top
    }, 1000);
});

    </script>
    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="/static/css/main.css" id="theme-color" />
  </head>

  <body>
    <!--navigation-->
    <section id="home" class="">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark">
          <img style="border-radius: 10px" src="./img/icon.ico" alt="" />&nbsp;
          <a class="navbar-brand heading-black" href="index.html">
           -IHRD-
          </a>
          <button
            class="navbar-toggler navbar-toggler-right border-0"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span data-feather="grid"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link page-scroll fs-5" href="/login">-Admin-</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#register">-Register-</a>
              </li>
             

              <li class="nav-item">
                <a class="nav-link page-scroll" href="#About">-About-</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>

    <!--hero header-->
    <section class="py-7 py-md-0 bg-hero" id="register">
      <div class="container">
        <div class="row vh-md-100">
          <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
            <h1>-Cyber Safe 2023-</h1>
            <p class="lead py-5">-Navigating the Future with AI and Security-</p>
            <a class="nav-link page-scroll" href="#features">
              <button
                class="btn btn-primary mb-3 d-inline-flex flex-row align-items-center"
              >
                Explore now!
              </button>
            </a>
            <div id="timerr">


 
 



                <div class="wrapper">
                <div class="container text-center fs-3">
                    
                    <div class="col-md-3 col-xs-6">
                    <div class="clock pt-5">
                        <div class="well top-section">
                        <div id="days" class="num">00</div>
                        </div>
                        <div class="well bottom-section">
                        <div id="days-text" class="text">Days</div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                    <div class="clock pt-6">
                        <div class="well top-section">
                        <div id="hours" class="num">00</div>
                        </div>
                        <div class="well bottom-section">
                        <div id="hours-text" class="text ">Hours</div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                    <div class="clock pt-5">
                        <div class="well top-section">
                        <div id="mins" class="num">00</div>
                        </div>
                        <div class="well bottom-section">
                        <div id="mins-text" class="text">Minutes</div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                    <div class="clock pt-6">
                        <div class="well top-section">
                        <div id="secs" class="num">00</div>
                        </div>
                        <div class="well bottom-section">
                        <div id="secs-text" class="text">Seconds</div>
                        </div>
                    </div>
                    </div>
                    <div id="info" class="small"></div>
                </div>
                </div>


                <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
                <script  src="/static/js/function.js"></script>



            </div>
            <div class="col-md-12 py-3">
                <h3  >Get ready to hack into the future with Cyber Safe 2023 ?</h3>
                </div>
          </div>
        </div>
      </div>
    </section>

    <!-- features section -->
    <section class="pt-6 pb-7" id="features">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <h1>-HURRY UPP-</h1>
            <p class="lead py-3">-Register now to secure your spot at CyberSafe 2023! Limited spots available-</p>
            <a class="nav-link page-scroll" href="/register" >
            <button 
            class="btn btn-primary mb-3 d-inline-flex flex-row align-items-center"
          >
            Register now!
          </button>
        </a>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-10 mx-auto">
            <div class="row feature-boxes">
              <div class="col-md-6 box">
                <div class="list-style">
                    <div class="list-style-eleven">
                       <ul>
                          <li>
                             <i class="lni lni-star"></i> Keynote speeches from leading experts in AI and Cybersecurity
                          </li>
                          <li>
                             <i class="lni lni-star"></i> Interactive panel discussions on the challenges and opportunities in AI-based cybersecurity
                          </li>
                          <li><i class="lni lni-star"></i> Hands-on workshops on AI-powered cyber threat detection and mitigation</li>
                          <li><i class="lni lni-star"></i> Engaging hackathon with prizes for the top projects</li>
                          <li>
                            <i class="lni lni-star"></i> Seminar on ethical considerations in AI and Cybersecurity
                         </li>
                        
                    </div>
                 </div>
                 <!-- list-style-eleven-->
              </div>

              <div class="col-md-6 box">
                <div class="icon-box box-info">

                    <div class="list-style">
                        <div class="list-style-eleven">
                           <ul>
                              <li>
                                 <i class="lni lni-star"></i> Stay up-to-date on the latest developments in AI and Cybersecurity
                              </li>
                              <li>
                                 <i class="lni lni-star"></i> Network with peers and industry experts
                              </li>
                              <li><i class="lni lni-star"></i> Participate in hands-on activities and hackathon</li>
                              <li><i class="lni lni-star"></i> Learn about the role of police in a digital world</li>
                              <li>
                                <i class="lni lni-star"></i>Explore ethical considerations in AI and Cybersecurity
                             </li>
                            
                           </ul>
                        </div>
                     </div>
                     <!-- list-style-eleven-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--footer-->
    <footer class="py-6">
      <div class="container">
        <div class="row">
          <div class="col-sm-5 mr-auto">
            <h5>CyberSafe 2023: Navigating the Future with AI and Security</h5>
            <p class="text-muted">
              CyberSafe 2023 is a one-day online event that brings together experts from the fields of AI, cybersecurity, and law enforcement to explore the intersection of these fields and how they can work together to create a safer digital world. Attendees will have the opportunity to participate in hands-on activities, network with peers, and learn from industry leaders.
            </p>
            <ul class="list-inline social social-sm">
              <li class="list-inline-item">
                <a href=""><i class="fa fa-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href=""><i class="fa fa-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href=""><i class="fa fa-google-plus"></i></a>
              </li>
              <li class="list-inline-item">
                <a href=""><i class="fa fa-dribbble"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h5>Legal</h5>
            <ul class="list-unstyled">
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Refund policy</a></li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h5>Partner</h5>
            <ul class="list-unstyled">
              <li><a href="#">Refer a friend</a></li>
              <li><a href="#">Affiliates</a></li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h5>Help</h5>
            <ul class="list-unstyled">
              <li><a href="#">Support</a></li>
              <li><a href="#">Log in</a></li>
            </ul>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 text-muted text-center small-xl">
            &copy; 2023 Good Boy Associates - All Rights Reserved
          </div>
        </div>
      </div>
    </footer>

    <!--scroll to top-->
    <div class="scroll-top">
      <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="static/js/scripts.js"></script>
  </body>
</html>
